.dq-card {
    background: var(--dq-card-bg);
    padding: var(--spacing-md);
    border-radius: var(--radius-md);
    border: 1px solid var(--dq-hero-color);
    gap: var(--spacing-md);
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacing-md);
}

.dq-card-title {
    color: var(--dq-gold);
    margin: 0;
}

.dq-card.combat .dq-card-title {
    color: var(--dq-enemy-color);
}