.backpack-container {
    margin-top: var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    max-width: 100%;
}

.backpack-title {
    color: var(--dq-light-grey);
    margin-bottom: var(--spacing-sm);
    font-size: var(--font-sm);
}

.backpack-grid {
    display: flex;
    overflow-x: auto;
    gap: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
    /* space for scrollbar */
}

.backpack-slot-wrapper {
    aspect-ratio: 1;
    flex: 0 0 var(--button-2xl);
    width: var(--button-2xl);
    height: var(--button-2xl);
}