.equipment-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-sm);
    border-radius: var(--radius-md);
    border: var(--border-sm) solid var(--dq-grey);
    max-width: calc(3 * var(--button-2xl) + 2 * var(--spacing-sm));
}

.equipment-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}