.equipment-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-sm);
    border-radius: var(--radius-md);
    border: var(--border-sm) solid var(--dq-grey);
}

.equipment-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}