.combatant-card {
    background: var(--dq-grey);
    border: 1px solid var(--dq-hero-color);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 200px;
    position: relative;
}

.combatant-card.enemy {
    border-color: var(--dq-enemy-color);
}

.combatant-name {
    font-weight: bold;
    text-align: center;
    margin-bottom: 4px;
}

.health-bar-row {
    width: 100%;
    gap: var(--spacing-sm);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.health-bar-container {
    width: 100%;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
    background: var(--dq-dark-grey);
    gap: var(--spacing-sm);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.health-bar {
    height: 100%;
    background: var(--dq-hero-color);
    transition: width 0.3s ease;
}

.health-bar-text {
    text-align: center;
    font-size: var(--font-xs);
    color: var(--dq-light-grey);
}

.combatant-card.enemy .health-bar {
    background: var(--dq-enemy-color);
}

.combatant-stats {
    display: flex;
    justify-content: space-around;
    font-size: var(--font-sm);
}

.combatant-effects {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    /* padding-top needed for effect duration badge */
    padding-top: var(--spacing-sm);
    justify-content: left;
}